@import 'colors-matugen.css';

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#waybar {
  color: @foreground;
  background-color: @background;
  border-radius: 10px;
}

#workspaces button {
  font-size: 5px;
  color: @foreground;
  padding: 5px 10px;
  margin: 0 2px;
}

#workspaces button.active {
  color: @background;
  background-color: @foreground;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#workspaces button.urgent {
  background-color: @error;
}

#window {
  padding: 0 4px;
}

#workspaces {
  background-color: @background;
}

.modules-left {
  margin-left: 20px;
}

.modules-right {
  margin-right: 20px;
}

#idle_inhibitor,
#language,
#tray,
#bluetooth,
#network,
#pulseaudio,
#custom-notification,
#custom-spotify {
  padding: 0 15px;
}

#custom-spotify.playing {
  color: #1db954;
}

#custom-spotify.paused {
  color: @foreground-inactive;
}

#clock {
  padding: 0 15px;
}

tooltip {
  background-color: @background;
  border: 1px solid @foreground-inactive;
  border-radius: 10px;
  padding: 8px;
  margin: 6px;
}

tooltip label {
  font-size: 15px;
  padding: 2px;
}
