@define-color fg #E0E0E0;
@define-color fg-inactive #4D4D4D;
@define-color bg #0F0F0F;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#waybar {
  color: @fg;
  background-color: @bg;
  border-radius: 10px;
}

#workspaces button {
  font-size: 5px;
  color: @fg;
  padding: 5px 10px;
  margin: 0 2px;
}

#workspaces button.active {
  color: @bg;
  background-color: @fg;
}

#workspaces button.empty {
  color: @fg-inactive;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#window {
  padding: 0 4px;
}

#workspaces {
  background-color: @bg;
}

.modules-left {
  margin-left: 20px;
}

.modules-right {
  margin-right: 20px;
}

#idle_inhibitor,
#language,
#tray,
#bluetooth,
#network,
#pulseaudio,
#custom-notification,
#custom-spotify {
  padding: 0 15px;
}

#custom-spotify.playing {
  color: #1db954;
}

#custom-spotify.paused {
  color: @fg-inactive;
}

#clock {
  padding: 0 15px;
}

tooltip {
  background-color: @bg;
  border: 1px solid @fg-inactive;
  border-radius: 10px;
  padding: 8px;
  margin: 6px;
}

tooltip label {
  font-size: 15px;
  padding: 2px;
}
