@define-color yellow #FAA916;
@define-color blue #24B3FF;
@define-color green #a6e3a1;
@define-color white #ffffff;
@define-color red #D33E40;
@define-color bg #202020;
@define-color selected_bg #303030;

* {
    font-family: 'JetBrains Mono Nerd Font';
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @yellow;
}

#window {
    padding: 0 4px;
}

window#waybar {
    background-color: transparent;
}

#workspaces {
    background-color: @bg;
}

#workspaces button {
    padding: 4px 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @selected_bg;
    color: @yellow;
    /* transition: 0.2s ease-out; */
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}

#clock,
#custom-spotify,
#idle_inhibitor,
#keyboard-state label.locked,
#tray,
#network,
#bluetooth,
#pulseaudio {
    margin: 0 3px;
    padding: 4px 15px;
    color: @white;
    background-color: @bg;
}

#custom-spotify {
    color: @green;
}
