@import './colors-matugen.css';

* {
  all: unset;
  font-size: 15px;
  font-family: "JetBrainsMono Nerd Font Mono";
  transition: 200ms;
}

/* === Sliders e volume === */
scale trough {
  margin: 0rem 1rem;
  background-color: @background;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: @inverse-foreground;
}

.widget-volume {
  padding-top: 1rem;
  border-radius: 10px;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @foreground;
}

.widget-volume trough {
  background-color: @inverse-foreground;
  border-radius: 10px;
}

.widget-volume trough highlight {
  background-color: @foreground;
  border-radius: 10px;
}

.widget-dnd > switch slider {
  background-color: @foreground;
  border-radius: 10px;
  border: 1px solid @foreground;
}

/* === Notificações flutuantes === */
.floating-notifications.background .notification-row .notification-background {
  background-color: @foreground;
  color: @background;
  border-radius: 10px;
  margin: 9px;
  padding: 0;
}

.floating-notifications .notification {
  padding: 7px;
  border-radius: 10px;
}

.notification.critical {
  border: 3px solid #ff0000;
}

.notification-content {
  margin: 7px;
}

.notification-content .summary .time,
.notification-content .summary,
.notification-content .body {
  color: @background;
}

.notification > *:last-child > * {
  min-height: 3.4em;
  border-radius: 10px;
}

.notification-action {
  background-color: @background;
  color: @foreground;
  border-radius: 10px;
  margin: 3px;
}

.close-button {
  margin: 7px;
  padding: 2px;
  background-color: @foreground;
  color: @background;
  border-radius: 10px;
}

.close-button:hover {
  background-color: @inverse-foreground;
  color: @foreground;
}

/* === Control Center === */
.control-center {
  background-color: @background;
  color: @foreground;
  border-radius: 10px;
  padding: 14px;
  margin: 9px;
}

.control-center .widget-title > label {
  font-size: 1.1em;
  color: @foreground;
}

.control-center .widget-title button {
  background-color: @foreground;
  color: @background;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px @foreground;
  padding: 7px;
}

.control-center .widget-title button:hover {
  background-color: @inverse-foreground;
  color: @foreground;
}

.control-center .notification-background {
  background-color: @foreground;
  color: @background;
  border-radius: 10px;
  margin-top: 14px;
  box-shadow: inset 0 0 0 1px @background;
}

.control-center .notification {
  padding: 7px;
  border-radius: 10px;
}

.control-center .notification.critical {
  border: 3px solid #ff0000;
}

.control-center .notification-content {
  margin: 3px;
}

.control-center .notification > *:last-child > * {
  min-height: 3.4em;
  border-radius: 10px;
}

.control-center .close-button {
  margin: 7px;
  padding: 2px;
  background-color: @foreground;
  color: @background;
  border-radius: 10px;
}

.control-center .close-button:hover,
.control-center .notification-background:hover {
  background-color: @inverse-foreground;
  color: @foreground;
  border-radius: 10px;
}

/* === Outros widgets === */
.widget-dnd {
  margin-top: 9px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  background: @inverse-foreground;
  border: 1px solid @background;
  border-radius: 10px;
}

.widget-mpris .widget-mpris-player {
  background: @foreground;
  color: @background;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @foreground;
  color: @background;
  border-radius: 10px;
  margin: 4px;
  font-size: 50px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @inverse-foreground;
  color: @foreground;
}

/* === Barra de progresso de notificação === */
.notification progress {
  border-radius: 10px;
}

.notification.critical progress {
  border: 3px solid #ff0000;
}

.notification.low progress,
.notification.normal progress {
  background-color: #00ffff;
}
