@define-color background {{ colors.background.default.hex }};
@define-color foreground {{ colors.on_surface.default.hex }};
@define-color foreground-inactive {{ colors.inverse_on_surface.default.hex }};
@define-color error {{ colors.error.default.hex }};
